site_name: Urban Heat Technical Manual

# MkDocs will look for markdown files in the "docs" folder by default
docs_dir: docs

theme:
  name: material
  features:
    - navigation.instant
    - navigation.expand
    - navigation.sections
    - toc.follow

nav:
  - Home: index.md
  - Introduction: introduction.md
  - Data Requirements: rata-requirements.md
  - Recommendations for Replication: recommendations.md
  - References & Data Licensing: references.md


